
//classe que organiza todos os produtos na pagina Home.
.home_agrupar_produtos{
 
 display: grid;
 grid-template-columns: 20% 20% 20% 20%;
 grid-column-gap: 5%;
justify-content: center;
grid-row-gap: 10%;
align-items: center;


}
//classe que organiza os elementos que estão dentro de cada card de produto.
.cada-produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
  border: hidden ;
  box-sizing: border-box;
 padding-left: 1%;
  &:hover{
     
      border: solid 1px;
  }
   
}

//estilizado o input de numero dos componentes de produtos.
input[type='number']{
width: 20%;
margin-bottom: 10%;


}
//img que esta no componente footer.
#img-background-footer{
    height: 25vh;
    width: 100%;
}


//id que organiza todos os elementos da pagina Home.
#agrupar_todos_elementos_home{
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 20vh;
  

}
.organizar_produto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   width: 30%;
   
}


.organizar_descriçao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    h2{
       font-family: cursive;
    }
    p{
        font-family: cursive;
    }
   
}
.agrupar_produto_e_descriçao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    padding-top: 10vh;
    padding-bottom: 10vh;
    
}
.imgproduto{
    width: 80%;
   
}
.preço{
    color: red;
    font-size: 200%;
}
