@charset "UTF-8";
.home_agrupar_produtos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 20% 20% 20%;
      grid-template-columns: 20% 20% 20% 20%;
  grid-column-gap: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-row-gap: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cada-produto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60vh;
  border: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 1%;
}

.cada-produto:hover {
  border: solid 1px;
}

input[type='number'] {
  width: 20%;
  margin-bottom: 10%;
}

#img-background-footer {
  height: 25vh;
  width: 100%;
}

#agrupar_todos_elementos_home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-row-gap: 20vh;
}

.organizar_produto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}

.organizar_descriçao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 30%;
}

.organizar_descriçao h2 {
  font-family: cursive;
}

.organizar_descriçao p {
  font-family: cursive;
}

.agrupar_produto_e_descriçao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.imgproduto {
  width: 80%;
}

.preço {
  color: red;
  font-size: 200%;
}

body {
  margin: 0%;
  padding: 0%;
}

.estilo-header {
  margin: 0%;
  padding: 0%;
}

.estilo-header #img-background-header {
  height: 25vh;
  width: 100%;
}

.estilo-header button {
  background-color: black;
  color: gold;
  height: 5vh;
  font-size: 2vh;
}

.estilo-header form {
  margin-left: 30%;
}

.estilo-header input {
  width: 50%;
  height: 4vh;
  font-family: cursive;
  font-size: 2vh;
}
/*# sourceMappingURL=header.css.map */